<nav class="navbar navbar-expand-lg bg-danger mb-3">
    <div class="container-fluid ">
        <a class="navbar-brand text-white" href="#">
            Kupper
        </a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="items">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="units">Units</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="brands">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="stores">Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="orders">Orders</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="#">V. 2.3.6</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>