<h2 mat-dialog-title>{{isEdit ? 'Editing' : 'Add'}} Store </h2>
<mat-dialog-content class="mat-typography">

    <pre>{{form.value | json}}</pre>
    <div [formGroup]="form">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="address">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Neighborhood</mat-label>
            <input matInput type="text" formControlName="neighborhood">
        </mat-form-field>
        <hr>
        <mat-form-field appearance="outline" class="w-50">
            <mat-label>Latitud</mat-label>
            <input matInput type="text" formControlName="latitud" readonly>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-50">
            <mat-label>Longitud</mat-label>
            <input matInput type="text" formControlName="longitud" readonly>
        </mat-form-field>
        <!-- <google-map></google-map> -->
        <hr>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn" mat-button (click)="close()">Cancel</button>
    <button class="btn btn-danger" mat-button (click)="save()" [disabled]="!form.valid">{{isEdit ? 'Edit' : 'Save'}}</button>
</mat-dialog-actions>