<h2 mat-dialog-title>{{isEdit ? 'Editing' : 'Add'}} Category </h2>
<mat-dialog-content class="mat-typography">
    <div [formGroup]="form">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn" mat-button (click)="close()">Cancel</button>
    <button class="btn btn-danger" mat-button (click)="save()" [disabled]="!form.valid">{{isEdit ? 'Edit' : 'Save'}}</button>
</mat-dialog-actions>