<h2 mat-dialog-title>{{isEdit ? 'Editing' : 'Add'}} Item </h2>
<mat-dialog-content class="mat-typography">
    <div [formGroup]="form">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Categories</mat-label>
            <mat-select formControlName="category" multiple>
                <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Units</mat-label>
            <mat-select formControlName="unit" multiple>
                <mat-option *ngFor="let unit of units" [value]="unit.name">{{unit.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Brand</mat-label>
            <mat-select formControlName="brand" multiple>
                <mat-option *ngFor="let brand of brands" [value]="brand.name">{{brand.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <input class="mb-3" type="file" (change)="cambioArchivo($event)" multiple>

        <div class="row">
            <div class="col-12 col-md-4 mb-2" *ngFor="let file of files; index as index">
                <div class="card">
                    <img [src]="file.url">
                    <button class="btn btn-danger btn-block" (click)="deleteImage(index)">Delete image</button>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn" mat-button (click)="close()">Cancel</button>
    <button class="btn btn-danger" mat-button (click)="save()" [disabled]="!form.valid">{{isEdit ? 'Edit' : 'Save'}}</button>
</mat-dialog-actions>